* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  color: #002642;
  flex-wrap: wrap;
}
html {
  background: #fff8e8;
}
.Header {
  background: #002642;
  overflow: hidden;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.Header div {
  color: #fff;
}
.TodayView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Currently {
  margin: 0 auto;
}
.Hourly {
  margin: 0 auto;
}
.Daily {
  margin: 0 auto;
}
.weather-icon {
  width: 4em;
  height: 4em;
}
h1 {
  font-size: 2em;
}
#summary {
  font-size: 1.1em;
}
.temperatureContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.smallerTempCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realTemp {
  font-size: 2.4em;
}
.feelsLike {
  font-size: 1em;
}
.temperatureBarChart {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.emptyBar {
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.filledBar {
  width: 4em;
  background: #002642;
  color: white;
  text-align: center;
  border-radius: 22% 22% 0% 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.temperatureBar {
  margin-right: 0.5em;
  width: 5em;
  text-align: center;
}
.temperatureBar img {
  width: 3em;
  height: 3em;
}
.text-and-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyBarLow {
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.filledBarLow {
  width: 4em;
  background: #002642;
  color: white;
  text-align: center;
  border-radius: 0% 0% 22% 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#hourly {
  border-radius: 22%;
}
.Footer {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer a {
  margin: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  background: #002642;
  color: #fff8e8;
  width: 10rem;
  height: 2rem;
  text-align: center;
}
.Footer a:hover {
  background: #fff8e8;
  color: #002642;
  border: 1px solid #002642;
}
